In [2]:
#pandas is a library and it contains the functions to handle data such as tables
import pandas as pd

In [4]:
#Reading a CSV file by using read_csv function from pandas library
#dataset is a variable where data stored from csv file and memory allocated
dataset=pd.read_csv("Salary_Data.csv")

In [5]:
#printing the data stored in dataset variable
dataset

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [6]:
#YearsExperience column data is selected and stored in independent variable and printing them
independent=dataset[["YearsExperience"]]
independent

In [9]:
#Salary column data is selected and stored in dependent variable and printing them
dependent=dataset[["Salary"]]
dependent

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [11]:
#sklearn is python library for machine learning , train_test_split function will split the dataset in to 2 parts - 1.training 2.testing
from sklearn.model_selection import train_test_split
#splitting the data
X_train,X_test,y_train,y_test=train_test_split(independent, dependent, #variables for splitting
                                               test_size=0.30, #30% data for testing
                                               random_state=0) #For reproducibility

In [12]:
#importing LineraRegression class from linear_model module from sklearn library
from sklearn.linear_model import LinearRegression
#initializing the Linear Regression model and assigns it to the variable regressor.
regressor=LinearRegression()
#Train the model using training data
regressor.fit(X_train,y_train)

LinearRegression()

In [14]:
#extracting the coefficient or slope from the trained data and assigning it to variable and displaying
weight=regressor.coef_
weight

array([[9360.26128619]])

In [15]:
#extracting the intercept from the trained data and assigning it to variable and displaying
bais=regressor.intercept_
bais

array([26777.3913412])

In [16]:
#In trained model test data (X_test) is applied and storing the result as predicted value in y_pred
y_pred=regressor.predict(X_test)

In [17]:
#importing r2_score function from metrics module from sklearn
from sklearn.metrics import r2_score
#calculating r2_score by using precited value and actual output value and storing in r_score variable
r_score=r2_score(y_test,y_pred)

In [18]:
#printing r_score value
#If it is near to 1 our model performance is good , if it is near to 0 poor performance
r_score

0.9740993407213511

In [19]:
#pickle used to save the data to a file and load them back later without recreating them
import pickle
#we are giving the file name to save the data and assigning it to a variable
filename="finalized_model_linear.sav"

In [20]:
#pickle.dump is used to save trained model (regressor) to a file , wb means write binary mode to write the data to file
pickle.dump(regressor,open(filename,'wb'))

In [23]:
#pickle.load is used to load the model from the file and rb is read binary mode to read the data from the file
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb'))
#By using our trained model we are giving input 13 and the result will be loaded to result variable
result=loaded_model.predict([[13]])

C:\Anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

In [24]:
#printing result(salary) for 13Years of Experience (input)
result

array([[148460.78806172]])